:root {
  --loader-text-color: #f6e9fe;
  --loader-dot-color: #f6e9fe;
  --loader-bg: #000000;
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--loader-bg);
  display: grid;
  place-content: center;
  /* transition: transform 2s ease-in-out, opacity 2s ease-in-out; */
}

/* Slide up effect */
/* .loader-container.slide-up {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
} */

/* SVG styling */
svg {
  width: 20rem;
  font-weight: 700;
}
svg text {
  font-size: 5rem;
  stroke-width: 2;
  letter-spacing: -6px;
}
svg text.text-body {
  stroke: var(--loader-text-color);
  animation: 3s infinite alternate animate-stroke;
}
svg text.dot {
  fill: var(--loader-dot-color);
  stroke: var(--loader-dot-color);
  animation: 4s infinite alternate animate-dot;
}

/* Animations */
@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--loader-text-color);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
@keyframes animate-dot {
  0%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
