@import url('https://fonts.cdnfonts.com/css/ics-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  background-color: #D2D2D2;
  background-image:
    repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px),
    repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
}

body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  content: '';
  background-image: url('/assets/images/bg.png'); /* put bg.png in public/assets/images */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}


.banner {
    width: 100%;
    height: 89vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite reverse;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg ))
        translateZ(550px);
}

.banner .slider .item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.slider .item h1.slider-text {
  font-family: 'ICA Rubrik';
  font-size: 11em;
  color: #252838;
  position: relative;
  text-align: center;
}

.slider .item h1.slider-text::before {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #d2d2d2;
  color: transparent;
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform:
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(400px); /* adjust radius as needed */
}


.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* width: min(1400px, 100vw); */
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 11em;
    line-height: 1en;
    color: #252838;
    position: relative;
    /* bottom: 200px; */
}

.banner .content h1::before {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author {
    font-family: 'ICA Rubrik'; /* Poppins */
    text-align: right;
    position: absolute;
    max-width: 200px;
    bottom: 0;
    /* left: 30%; */
    z-index: 5;
    
}

.banner .content h2 {
    font-size: 3en;
}

.banner .content .model {
    background-image: url(/src/assets/images/logo-maker.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 0;
    max-width: 1400px;
}

/* .banner .content .model img {
  position: absolute;
  bottom: 0;
  left: 29.8%;
  transform: scale(1.18);
  z-index: 0;  
} */

